@import "config.scss";

.editor-page button {
  padding: $unit $unit*2;
  border: 1px solid #eee;
  margin-right: $unit;
  background: #eee;
  cursor: pointer;
}

.editor-page .login-form {
  padding: $unit*2 0;
}

.editor-page input {
  padding: $unit;
  border: 1px solid #eee;
  margin-right: $unit*2;
  width: $unit*15;
  box-sizing: border-box;
}

.editor-page .logout {
  padding: $unit*2 0;
}

.editor-page .logout button {
  float: right;
  margin-right: 0;
}

.editor-page .logout span {
  padding: $unit 0;
  display: inline-block;
}

.editor-page .map-control {
  margin-bottom: $unit*2;
}

.editor-page .editor-field {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.editor-page .map-list {
  display: inline-block;
  width: $unit*15;
  margin-right: $unit*2;
}

.editor-page .map-list button {
  margin-bottom: $unit;
  display: block;
  width: 100%;
}

.editor-page .map-list button.active {
  outline: 2px solid #0B91A9;
}

.editor-page .hex {
  height: 80px;
  width: 80px;
  position: absolute;
  background: url("/game/resources/circuit_hex.svg") center / contain no-repeat;
  line-height: 80px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

.editor-page .hex.empty {
  color: #999;
}

.editor-page .hex.player1 {
  color: red;
}

.editor-page .hex.player2 {
  color: blue;
}

.editor-page .hex.field {
  opacity: .2;
  z-index: 0;
}