@font-face {
  font-family: 'Red October-Regular';
  src: url('../fonts/Red October-Regular.eot');
  src: url('../fonts/Red October-Regular.woff2') format('woff2'),
       url('../fonts/Red October-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}