@import "config.scss";

.index-page {
  position: relative;
}

.index-page header {
  text-align: center;
  height: calc(100vh - #{10 * $unit});
  min-height: 10 * $unit;
  box-sizing: border-box;
}

.index-page header .logo {
  display: inline-block;
  background: url('/images/logo.svg') center / contain no-repeat;
  width: 6 * $unit;
  height: 6 * $unit;
}

.index-page header .description h1 {
  margin: $unit 0 0;
}

.index-page header .description p {
  margin: 0;
}

.index-page footer {
  text-align: center;
}

.index-page footer .play {
  display: inline-block;
  background: url('/images/play.svg') center / contain no-repeat;
  width: 18 * $unit;
  height: 3 * $unit;
  color: transparent;
}

.index-page footer .links {
  margin-top: $unit;
}

.index-page footer .links a {
  color: $contrastColor;
  margin: $unit / 2;
}

// desktop
@media (min-width: 960px) {
  .index-page header {
    padding-top: 3 * $unit;
    height: calc(100vh - #{12 * $unit});
  }

  .index-page header .logo {
    width: 12 * $unit;
    height: 12 * $unit;
  }

  .index-page header .description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 1.5 * $unit;
    padding-left: $unit;
  }

  .index-page header .description h1 {
    font-size: 4 * $unit;
  }

  .index-page header .description p {
    font-size: 1.5 * $unit;
  }

  .index-page footer .play {
    width: 28 * $unit;
    height: 6 * $unit;
  }
}