@import "config.scss";

.index-page {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap-blocks {
  width: 449px;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

.wrap-blocks.top {
  display: flex;
}

.index-page header {
  padding-top: $unit * 6;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: $unit * 5.625;
}

.index-page header .logo {
  width: $unit * 10;
  height: $unit * 10;
  margin-right: $unit * 2;
}

.index-page header .description {
  text-align: left;
  margin: auto;
}

.index-page header .description h1 {
  margin: 0;
  font-size: $unit * 3.5;
  color: #5f5f5f;
}

.index-page header .description p {
  margin: $unit 0 0 0;
  font-size: $unit * 1.8;
  color: #999;
  line-height: 1.5;
}

.index-page footer {
  margin-top: -$unit * 10;
  height: $unit * 9;
  width: 100%;
}

.index-page footer .button-play {
  padding: $unit 0;
  outline: 2px solid #999;
  font-weight: bold;
  color: #999;
  text-decoration: none;
  cursor: pointer;
  font-size: $unit * 2;
  display: block;
  width: 100%;
}

.index-page footer .links {
  margin-top: $unit * 1.5;
}

.index-page footer .links a {
  margin: 0 $unit / 2;
  font-size: $unit * 1.5;
  color: #999;
}

@media (max-width: 1367px)  {
  .index-page header .logo{
    margin: 0 auto;
    width: $unit * 12;
    height: $unit * 12;
  }
}

@media (max-width: 1024px)  {
  .index-page header{
    padding-top: $unit * 4;
  }
  .index-page header .logo{
    margin: 0 auto;
    width: $unit * 10;
    height: $unit * 10;
  }
  .wrap-blocks{
    padding-bottom: $unit * 2;
  }
}

@media (max-width: 600px) {

  .wrap-blocks.top{
    display: block;
  }
  .wrap-blocks{
    width: 90%;
    padding-bottom: $unit * 7;
  }
  .index-page header{
    padding-top: $unit * 3;
  }
  .index-page header .logo{
    margin: 0 auto;
    width: $unit * 10;
    height: $unit * 10;
  }
  .index-page header .description{
    text-align: center;
    margin-top: $unit * 0.5;
  }
  .index-page header .description h1{
    font-size: $unit * 3;
  }
  .index-page header .description p{
    font-size: $unit * 2;
    margin-top: 0px;
  }
  .index-page footer .button-play{
    font-size: $unit * 1.5;
  }
  .index-page footer .links a{
    font-size: $unit;
  }
}
