@import url('config.css');

.index-page {
  position: relative;
}

.index-page header {
  text-align: center;
  height: calc(100vh - (var(--unit) * 10));
  min-height: calc(var(--unit) * 10);
  box-sizing: border-box;
}

.index-page header .logo {
  display: inline-block;
  background: url('/images/logo.svg') center / contain no-repeat;
  width: calc(var(--unit) * 6);
  height: calc(var(--unit) * 6);
}

.index-page header .description h1 {
  margin: var(--unit) 0 0;
}

.index-page header .description p {
  margin: 0;
}

.index-page footer {
  text-align: center;
}

.index-page footer .play {
  display: inline-block;
  background: url('/images/play.svg') center / contain no-repeat;
  width: calc(var(--unit) * 18);
  height: calc(var(--unit) * 3);
  color: transparent;
}

.index-page footer .links {
  margin-top: var(--unit);
}

.index-page footer .links a {
  color: var(--contrast-color);
  margin: calc(var(--unit) / 2);
}

@media (min-width: 960px) {
  .index-page header {
    padding-top: calc(var(--unit) * 3);
    height: calc(100vh - (12 * var(--unit)));
  }

  .index-page header .logo {
    width: calc(var(--unit) * 12);
    height: calc(var(--unit) * 12);
  }

  .index-page header .description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: calc(var(--unit) * 2);
    padding-left: var(--unit);
  }

  .index-page header .description h1 {
    font-size: calc(var(--unit) * 4);
    margin: 0;
  }

  .index-page header .description p {
    font-size: calc(var(--unit) * 2);
  }

  .index-page footer .play {
    width: calc(var(--unit) * 28);
    height: calc(var(--unit) * 6);
  }
}