body{
  background-color: #f2f2f2;
  padding: 5% 0;
  width: 100%;
  height: 100%;
}

.inl{
  display: inline-block;
  vertical-align: top;
}

.index-wrap{
  text-align: center;
  margin-top: 5%;
  
  .logo{
    width: 30vh;
    height: 30vh;
    background-color: #999;
    margin-right: 2%;
  }
  .desc-wrap{
    text-align: left;

    .name{
      font-size: 6vh;
      color: #5f5f5f;

    }
    .description{
      font-size: 4vh;
      color: #999;
      max-width: 40vw;
      line-height: 5vh;
    }
  }
  .wrap-button{
    margin-top: 25vh;
    padding: 4vh 0;

    .button-game{
      padding: 2vh 8vw;
      border: 2px solid #999;
      font-weight: bold;
      color: #999;
      text-decoration: none;
      cursor: pointer;
      font-size: 3vh;
    }
  }
  .link{
    margin: 0 .6vw;
    font-size: 2vh;
    color: #999;
  }
}