@import url('config.css');

::selection {
  color: white;
  background: var(--theme-color)
}

body {
  color: var(--contrast-color);
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
  background: var(--theme-color);
  box-sizing: border-box;
}

body > .wrap {
  min-height: calc(100vh - (var(--unit) * 14));
}

.water-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrap {
  background-color: var(--light-background-color);
  margin: var(--unit);
  padding: var(--unit) calc(var(--unit) * 2);
  position: relative;
}

header.inner .wrap,
footer.inner .wrap {
  background-color: var(--lighter-background-color);
}

header.inner .menu {
  display: inline-block;
  width: calc(var(--unit) * 2);
  height: calc(var(--unit) * 2);
  background: url('/images/menu.svg') center / contain no-repeat;
  float: right;
  margin: var(--unit) 0;
}

header.inner .logo {
  display: inline-block;
  width: calc(var(--unit) * 4);
  height: calc(var(--unit) * 4);
  background: url('/images/logo.svg') center / contain no-repeat;
}

header.inner nav {
  margin-top: calc(var(--unit) / 2);
}

header.inner nav:not(.open) {
  display: none;
}

header.inner nav a {
  display: block;
  margin-top: calc(var(--unit) / 2);
  padding: calc(var(--unit) / 2);
  color: var(--contrast-color);
  background-color: var(--light-background-color);
}

header.inner nav .play {
  background: var(--contrast-color);
  color: var(--theme-color);
}

footer.inner a {
  color: var(--contrast-color);
  margin-right: var(--unit);
  display: inline-block;
}

footer.inner .uz0 {
  width: var(--unit);
  float: right;
  height: var(--unit);
  margin: 0;
  background: url('/images/uz0.svg') center / contain no-repeat;
}

@media (min-width: 960px) {
  .wrap {
    width: 960px;
    margin: var(--unit) auto;
  }

  header.inner .wrap {
    padding: 0 0 0 calc(var(--unit) * 4);
    border-bottom: var(--inner-border-height) solid var(--lighter-background-color);
  }

  header.inner .logo {
    width: calc(var(--unit) * 5);
    height: calc(var(--unit) * 5);

    position: absolute;
    left: -12px;
    top: -6px;
  }

  header.inner nav {
    display: block !important;
    padding-left: var(--unit);
    margin: 0;
  }

  header.inner nav a {
    display: inline-block;
    padding-top: calc(var(--unit) * 1.5);
    padding-right: var(--unit);
    padding-bottom: calc(var(--unit) * 1.5);
    padding-left: var(--unit);
    margin: 0;
    background: none;
    border-bottom: var(--inner-border-height) solid var(--lighter-background-color);
    margin-bottom: -var(--inner-border-height);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  header.inner nav .play {
    width: calc(var(--unit) * 11);
    float: right;
    margin: 0;
    color: #fff;
    background: transparent;
    text-align: center;
    font-size: calc(var(--unit) * 2);
    line-height: 0.6;
    font-weight: 600;
    letter-spacing: 4px;
  }

  header.inner .menu {
    display: none;
  }
}