@import "config.scss";

::selection {color:white; background:#85BAB4}
::-webkit-selection {color:white; background:#85BAB4}
::-moz-selection {color:white; background:#85BAB4}

html {
  height: 100%;
}

body {
  display: block;
  min-height: 100%;
  font-family: Roboto;
  font-weight: 400;
  color: #333;
  position: relative;
  box-sizing: border-box;
}

.wrap {
  width: 1050px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  min-height: calc(100vh - 95px - 103px);
  padding-bottom: 50px;
  box-sizing: border-box;
}

.header{
  padding: $unit 0;
  line-height: $unit * 3.75;
  border-bottom: 1px solid $layoutBorderColor;
  background: #fdfdfd;
}

.header .logo {
  width: $unit * 3.75;
  height: $unit * 3.75;
  display: inline-block;
  vertical-align: top;
  margin-right: $unit * 4;
  background: url("/images/logo.svg") center / contain no-repeat;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.header .navigation {
  display: inline-block;
  vertical-align: top;
}

.header .navigation a {
  color: $textColorLinks;
  text-decoration: none;
  margin-right: $unit * 3.125;
  font-size: $unit * 1.125;
}

.header .navigation a.active {
  text-decoration: underline;
}

.header .wrap a.button-play {
  position: absolute;
  top: $unit;
  right: 0;
  padding: 0 $unit * 2;
  border: 1px solid #85BAB4;
  font-weight: bold;
  color: $textColorLinks;
  text-decoration: none;
  cursor: pointer;
  font-size: $unit;
  margin: 0;
  line-height: 2;
  background: #fff;
}

.footer {
  width: 100%;
  padding: $unit / 2 0;
  border-top: 1px solid $layoutBorderColor;
  line-height: $unit * 3.125;
  color: #fff;
  background: #fdfdfd;
}

.footer .links a {
  color: $textColorLinks;
  text-decoration: none;
  margin-right: $unit * 4;
  font-size: $unit;
}

.footer .link-uz0 {
  position: absolute;
  bottom: $unit * 0.5;
  right: 0;
  height: $unit * 2;
  width: $unit * 2;
  background-color: rgb(255, 163, 102);
  text-align: center;
}
.footer .link-uz0 a img {
  height: $unit;
  width: $unit;
  position: absolute;
  top: 25%;
  left: 25%;
}

@media (max-width: 768px)  {
  .navigation {
    display: none !important;
  }

  .mobile.menu {
    position: absolute;
    right: 0;
    top: $unit;
    width: $unit * 2;
    height: $unit * 2;
    background-image: url("/images/menu.svg");
    background-repeat: no-repeat;
  }

  .navigation.open {
    display: block !important;
    background-color: #fff;
    position: relative;
    top: $unit;
    padding-bottom: $unit;
    text-align: left;
  }

  .header .navigation a {
    display: block;
    color: $textColorLinks;
    text-decoration: none;
    text-align: left;
    padding: 0;
    margin: $unit * 0.5 0 $unit * 0.5 $unit * 2;
    font-size: $unit * 1.125;
    line-height: 2;
    padding-left: $unit * 2;
    border-left: 1px solid #85BAB4;
  }

  .header .wrap a.button-play {
    position: static;
    border: none;    text-align: left;
    padding: 0;
    margin: $unit * 0.5 0 $unit * 0.5 $unit * 2;
    font-size: $unit * 1.125;
    line-height: 2;
    font-weight: 400;
    padding-left: $unit * 2;
    border-left: 1px solid #85BAB4;
  }

  .footer .links a {
    color: #85BAB4;
    text-decoration: none;
    margin-right: $unit * 2;
    font-size: 16px;
  }

}

@media (max-width: 425px) {
  .footer .links a {
    margin-right: $unit;
  }

  .footer .link-uz0 {
    position: static;
    margin: 0 auto;
    line-height: 2.5;
  }

  .footer .link-uz0 a img {
    position: static;
  }

}

@media (max-width: 390px) {
  .news-content .inner .one-news .date label {
    margin-left: $unit * 0.5;
  }
}