@import "config.scss";

::selection {
  color: white;
  background: $themeColor
}

body {
  color: $contrastColor;
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
  background: $themeColor;
  box-sizing: border-box;
}

body>.wrap {
  min-height: calc(100vh - #{14 * $unit});
}

.water-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrap {
  background-color: $lightBackgroundColor;
  margin: $unit;
  padding: $unit 2 * $unit;
}

header.inner .wrap,
footer.inner .wrap {
  background-color: $lighterBackgroundColor;
}

// inner
header.inner .menu {
  display: inline-block;
  width: 2 * $unit;
  height: 2 * $unit;
  background: url('/images/menu.svg') center / contain no-repeat;
  float: right;
  margin: $unit 0;
}

header.inner .logo {
  display: inline-block;
  width: 4 * $unit;
  height: 4 * $unit;
  background: url('/images/logo.svg') center / contain no-repeat;
}

header.inner nav {
  margin-top: $unit / 2;
}

header.inner nav:not(.open) {
  display: none;
}

header.inner nav a {
  display: block;
  margin-top: $unit / 2;
  padding: $unit / 2;
  color: $contrastColor;
  background-color: $lightBackgroundColor;
}

header.inner nav .play {
  background: $contrastColor;
  color: $themeColor;
}

footer.inner a {
  color: $contrastColor;
  margin-right: $unit;
  display: inline-block;
}

footer.inner .uz0 {
  width: $unit;
  float: right;
  height: $unit;
  margin: 0;
  background: url('/images/uz0.svg') center / contain no-repeat;
}

// desktop
@media (min-width: 960px) {
  .wrap {
    width: 960px;
    margin: $unit auto;
    position: relative;
  }

  header.inner .wrap {
    padding: 0 0 0 4 * $unit;
    border-bottom: $innerBorderHeight solid $lighterBackgroundColor;
  }

  header.inner .logo {
    width: 5 * $unit;
    height: 5 * $unit;

    position: absolute;
    left: -12px;
    top: -6px;
  }

  header.inner nav {
    display: block !important;
    padding-left: 1 * $unit;
    margin: 0;
  }

  header.inner nav a {
    display: inline-block;
    padding: 1.5 * $unit $unit 1.5 * $unit - $innerBorderHeight;
    margin: 0;
    background: none;
    border-bottom: $innerBorderHeight solid $lighterBackgroundColor;
    margin-bottom: -$innerBorderHeight;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  header.inner nav .play {
    width: 11 * $unit;
    float: right;
    margin: 0;
    color: #fff;
    background: transparent;
    text-align: center;
    font-size: 2 * $unit;
    line-height: 0.6;
    font-weight: 600;
    letter-spacing: 4px;
  }

  header.inner .menu {
    display: none;
  }
}