@import "config.scss";

.news-page{
  width: 100%;
  height: 100%;
}
.news-content{
  overflow: hidden;
}
.news-content .inner .one-news{
  margin: $unit * 2 0 $unit * 2 $unit * 10;
  border: 1px solid #b2b2b2;
  box-sizing: border-box;
  padding: $unit;
  position: relative;
}
.news-content .inner .one-news:before{
  content: '';
  position: absolute;
  width: $unit * 4;
  height: 1000%;
  border-left: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  bottom: 50%;
  left: -$unit * 4;
}
.news-content .inner .one-news:after{
  content: '';
  position: absolute;
  width: $unit;
  height: $unit;
  background-color: #b2b2b2;
  bottom: calc(50% - 7px);
  left: -$unit * 4.45;
  border-radius: 100%;
}
.news-content .inner .one-news .date{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #f2f2f2;
}
.news-content .inner .one-news .date label{
  color: #555;
}
.news-content .inner .one-news .main-content .title{
  font-size: $unit * 2;
  color: #000;
  font-weight: bold;
  margin: 0;
  width: 90%;
}
.news-content .inner .one-news .main-content p{
  margin: $unit 0 0 0;
  font-size: $unit;
  color: #000;
}