@import "config.scss";

.wrapper{
  height: 100%;
}
.wrapper .news-page{
  width: 100%;
  height: 100%;
}
.wrapper .news-content{
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}
.wrapper .news-content .inner .one-news{
  margin: $unit * 2 0 $unit * 2 $unit * 10;
  box-sizing: border-box;
  position: relative;
}
.wrapper .news-content .inner .one-news:before{
  content: '';
  position: absolute;
  width: $unit * 8.125;
  height: 1000%;
  border-left: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  bottom: 50%;
  left: -$unit * 8.125;
}
.wrapper .news-content .inner .one-news:after{
  content: '';
  position: absolute;
  width: $unit;
  height: $unit;
  background-color: #b2b2b2;
  bottom: calc(50% - 7px);
  left: -$unit * 8.625;
  border-radius: 100%;
}
.wrapper .news-content .inner .one-news .date{
  display: inline-block;
  padding-left: $unit * 0.5;
}
.wrapper .news-content .inner .one-news .date label{
  color: #555;
  font-weight: 400;
}
.wrapper .news-content .inner .one-news .main-content .title-wrapper {
  border: 1px solid #b2b2b2;
  background-color: #f9f9f9;
}
.wrapper .news-content .inner .one-news .main-content .title-wrapper .title{
  font-size: $unit * 1.5;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: $unit;
  background-color: #f9f9f9;
  display: inline-block;
}
.wrapper .news-content .inner .one-news .main-content .title-wrapper .title p{
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
}
.wrapper .news-content .inner .one-news .main-content .only-title h2{
  display: inline-block;
  background: transparent;
  padding: 0 $unit 0 $unit;
  font-size: $unit * 1.5;
  color: #000;
  font-weight: bold;
}
.wrapper .news-content .inner .one-news .main-content p{
  margin: 0 0 0 0;
  font-size: $unit;
  color: #000;
  padding: $unit;
  background-color: #ffffff;
}
.wrapper .news-content .inner .one-news .main-content p:first-of-type{
  border-top: 1px solid #b2b2b2;
}
