@import "config.scss";

.news-content{
  overflow: hidden;
}

.news-content .inner .one-news{
  margin: $unit * 2 0 $unit * 2 $unit * 8;
  box-sizing: border-box;
  position: relative;
}

.news-content .inner .one-news:first-of-type{
  margin: $unit * 3 0 $unit * 2 $unit * 8;
}

.news-content .inner .one-news:last-of-type{
  margin: $unit * 2 0 $unit * 3 $unit * 8;
}

.news-content .inner .one-news:before{
  content: '';
  position: absolute;
  width: $unit * 6;
  height: 1000%;
  border-left: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  bottom: 50%;
  left: -$unit * 6;
}

.news-content .inner .one-news:after{
  content: '';
  position: absolute;
  width: $unit;
  height: $unit;
  background-color: #b2b2b2;
  bottom: calc(50% - 7px);
  left: -$unit * 6.5;
  border-radius: 100%;
}

.news-content .inner .one-news .date{
  display: inline-block;
  padding-left: $unit * 0.5;
}

.news-content .inner .one-news .date label{
  color: #555;
  font-weight: 400;
}

.news-content .inner .one-news .main-content .title-wrapper {
  border: 1px solid #b2b2b2;
  background-color: #fdfdfd;
}
.news-content .inner .one-news .main-content .title-wrapper .title{
  font-size: $unit * 1.5;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: $unit;
  background-color: #fdfdfd;
  display: inline-block;
}

.news-content .inner .one-news .main-content .title-wrapper .title p{
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
}
.news-content .inner .one-news .main-content .only-title{
  border-left: 1px solid #b2b2b2;
}

.news-content .inner .one-news .main-content .only-title h2{
  display: inline-block;
  background: transparent;
  padding: 0 $unit 0 $unit;
  font-size: $unit * 1.5;
  color: #000;
  font-weight: bold;
}

.news-content .inner .one-news .main-content p{
  margin: 0 0 0 0;
  font-size: $unit;
  color: #000;
  padding: $unit;
  background-color: #ffffff;
}

@media (max-width: 1024px)  {
  .wrap{
    width: 90%;
  }
}

@media (max-width: 768px) {
  .news-content .inner .one-news:before, .news-content .inner .one-news:after{
    display: none;
  }

  .news-content .inner .one-news:first-of-type {
    margin: $unit * 2 0 $unit 0px;
  }

  .news-content .inner .one-news:last-of-type {
    margin: $unit * 2 0 $unit * 2 0px;
  }

  .news-content .inner .one-news {
    margin: $unit 0 $unit  0px;
  }
}
