@import "config.scss";

.register-page input,
.register-page button {
  margin-top: $unit;
  border: none;
  display: block;
  box-sizing: border-box;
  width: $unit * 14;
  padding: $unit 2 * $unit;
}

.register-page h2 {
  margin-bottom: $unit * 2;
}

.register-page button {
  cursor: pointer;
  text-align: center;
}

.register-page .ng-not-empty {
  border: 1px solid green;
}