@import url('config.css');

.register-page input,
.register-page button {
  margin-top: var(--unit);
  border: none;
  display: block;
  box-sizing: border-box;
  width: calc(var(--unit) * 14);
  padding: var(--unit) calc(var(--unit) * 2);
}

.register-page h2 {
  margin-bottom: calc(var(--unit) * 2);
}

.register-page button {
  cursor: pointer;
  text-align: center;
}

.register-page .ng-not-empty {
  border: 1px solid green;
}