@import "config.scss";

h2, h3, h4 {font-weight: 300; color: $themeColor;}
h1 {font-weight: 700; color: $themeColor;}
label {font-weight: 300;}
a {cursor: pointer; white-space: nowrap; text-decoration: none; color: $themeColor;}