@import "config.scss";

h2, h3, h4 {
  font-weight: 300;
  color: $contrastColor;
}

h1 {
  font-weight: 700;
  color: $contrastColor;
}

h2 {
  margin-top: $unit * 2;
  margin-bottom: $unit;
}

label {
  font-weight: 300;
}

a {
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: $themeColor;
}

p {
  margin: $unit 0;
}
