footer.footer
  .wrap
    .links
      a(href='/humans.txt') Авторы
      a(href='https://github.com/uz0/hexcraft') Гитхаб
      a(href='/apidoc') Разработчикам
    .link-uz0
      a(href='http://uz0.ru' target='_blank')
        img(src="/images/uz0_logo.svg" alt="uz0 logo")
