footer.footer
  .wrap
    .links
      a(href='/about.html') Об игре
      a(href='/news.html') Новости
      a(href='#') Гитхаб
      a(href='/humans.txt') Авторы
    .link-uz0
      a(href='http://uz0.ru' target='_blank')
