header.inner
  .wrap
    a(href="/" class="logo")
    a.menu(ng-click="mobileMenu=!mobileMenu")
    nav(ng-class="{open: mobileMenu}")
      a(href='/news.html') Новости
      a(href='/about.html') Об игре
      a(href='/register.html') Регистрация
      a(href='/editor.html') Редактор

      a.play(href='/game') Играть
