header.header
  .wrap
    a(href="/index.html")
      img(src='/images/logo.svg' class="logo")
    nav.navigation
      a(href='/') Главная
      a(href='/about.html') Об игре
      a(href='/news.html') Новости
    .wrap-button-play
      a(href='/game') Играть
