header.header
  .wrap
    a(href="/" class="logo")
    nav.navigation(ng-class="{open: mobileMenu}")
      a(href='/about.html') Об игре
      a(href='/news.html') Новости
      a(href='https://github.com/uz0/hexcraft') Гитхаб
      a(href='/humans.txt') Авторы
      a.button-play(href='/game') Играть
    a.mobile.menu(ng-click="mobileMenu=!mobileMenu")
