header.header
  .wrap
    a(href="/index.html" class="logo")
    nav.navigation(ng-class="{open: mobileMenu}")
      a(href='/') Главная
      a(href='/about.html') Об игре
      a(href='/news.html') Новости
      a.button-play(href='/game') Играть
    a.mobile.menu(ng-click="mobileMenu=!mobileMenu")
