extends layout

block vars
  - var title = 'Редактор'
  - var bodyClass = 'editor-page'

block content
    include ./_header.jade
    .wrapper.wrap(ng-controller="editorCtrl as editor")
      form.auth(ng-submit="editor.auth()")
        input(type="text" ng-model="editor.login" placeholder="логин")
        input(type="password" ng-model="editor.password" placeholder="пароль")
        input(type="submit" value="авторизоваться")

    include ./_footer.jade