extends layout

block vars
  - var title = 'Home'
  - var bodyClass = 'index-page'

block content
  header
    .wrap-blocks.top(ng-controller="indexCtrl as index")
      a(href="/index.html" class="logo")
      .description
        h1 HEXCRAFT
        p Логическая игра
  footer
    .wrap-blocks
      a(href='/game' class='button-play') Играть
      .links
        a(href='/about.html') Об игре
        a(href='/news.html') Новости
        a(href='https://github.com/uz0/hexcraft') Гитхаб
        a(href='/humans.txt') Авторы
