extends layout

block vars
  - var title = 'Home'

block content
  .index-page
    header.index-header
      .logo
      .description
        h1 Hexcraft
        p Игра для настоящих мужчин, бла бла бла бла ба бла ы
    footer.index-footer
      .button-play
        a(href='#') Играть
      .links
        a(href='/about.html') Об игре
        a(href='/news.html') Новости
        a(href='#') Гитхаб
        a(href='/humans.txt') Авторы 
  
