extends layout

block vars
  - var title = 'Home'

block content
  .index-wrap
    .inl.logo
    .inl.desc-wrap
      h1.name Hexcraft
      p.description Игра для настоящих мужчин, бла бла бла бла ба бла ы
    .wrap-button
      a(class='button-game', href='#') Играть
    a(class='link', href='#') Об игре
    a(class='link', href='#') Новости
    a(class='link', href='#') Гитхаб
    a(class='link', href='#') Авторы 