extends layout

block vars
  - var title = 'HEXCRAFT'
  - var bodyClass = 'index-page'

block content
  header
    a(href="/" class="logo")
    .description
      h1 HEXCRAFT
      p Логическая игра

  footer
    a(href='/game' class='play') Играть
    .links
      a(href='/about.html') Об игре
      a(href='/news.html') Новости
      a(href='/register.html') Регистрация
