doctype html
block vars

html
  head
    title= title
    link(rel="stylesheet", href='/vendor/normalize-css/normalize.css')
    each val in styles
      link(rel="stylesheet", href= val)

  body

    block content