doctype html
block vars

html
  head
    title= title
    link(rel="stylesheet", href='/vendor/normalize-css/normalize.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    each val in styles
      link(rel="stylesheet", href= val)

  body(class= bodyClass)

    block content
