
doctype html
block vars

html(ng-app="newsApp")
  head
    title= title
    each val in styles
      link(rel="stylesheet", href= val)

  body(ng-controller= ctrl)

    block content

    script(src='/vendor/angular/angular.min.js')
    script(src='/javascripts/bundle.js')