extends layout

block vars
  - var title = 'Новости - HexCraft'

block content
  include ./_header.jade

  .news-page(ng-app="newsApp" ng-controller="newsCtrl as news")
    .wrap
      .news(ng-if="news.list.length")
        .vertical-line
        .one-news(ng-repeat="oneNews in news.list")
          label(ng-bind="oneNews.createdAt | date: 'dd.MM.yyyy'")

          .news-content(ng-if="oneNews.content")
            h2.title(ng-bind="oneNews.title")
            p(ng-bind="oneNews.content" ng-show="oneNews.content")

          .news-content(ng-if="!oneNews.content")
            a.title(ng-bind="oneNews.title" href='#')

      .news.empty(ng-if="!news.list.length")
        p EMPTY

  include ./_footer.jade

  script(src='/vendor/angular/angular.min.js')
  script(src='/javascripts/bundle.js')