extends layout

block vars
  - var title = 'Новости - HexCraft'
  - var bodyClass = 'news-page'

block content
  include ./_header.jade
  .wrapper
    .news-content(ng-app="newsApp" ng-controller="newsCtrl as news")
      .inner.wrap(ng-if="news.list.length")
        .one-news(ng-repeat="oneNews in news.list")
          .main-content(ng-if="oneNews.content.length")
            .title-wrapper
              h2.title(ng-bind="oneNews.title")
              .date
                label(ng-bind="oneNews.createdAt | newsDateFilter")
              p(ng-bind="oneNews.content")


          .main-content(ng-if="!oneNews.content.length && oneNews.title.length")
            .only-title
              h2.title(ng-bind="oneNews.title")
              .date
                label(ng-bind="oneNews.createdAt | newsDateFilter")

        .inner(ng-if="!news.list.length")
          p empty

      include ./_footer.jade

      script(src='/vendor/angular/angular.min.js')
      script(src='/javascripts/bundle.js')
