extends layout

block vars
  - var title = 'Новости'
  - var bodyClass = 'news-page'

block content
    include ./_header.jade
    .wrapper
      .wrap.news-content(ng-controller="newsCtrl as news")
        .item(ng-repeat="item in news.list")
          .title-wrapper(ng-class="{'only-title': !item.content}")
            h2.title(ng-bind="item.title")
            label.date(ng-bind="item.createdAt | newsDateFilter")
          p(ng-bind="item.content" ng-if="item.content")

    include ./_footer.jade