extends layout

block vars
  - var title = 'News'
  - var ctrl = 'newsCtrl as news'

block content
  include ./_header.jade
  h1 News
  .news(ng-if="news.list.length")
    .oneNews(ng-repeat="oneNews in news.list")
      h2(ng-bind="oneNews.title")
      p(ng-bind="oneNews.content" ng-show="oneNews.content")

  .news.empty(ng-if="!news.list.length")
    p EMPTY

  include ./_footer.jade