extends layout

block vars
  - var title = 'РЕГИСТРАЦИЯ'

block content
  include ./_header.jade
  .wrap.register(ng-controller="registerCtrl as register")
    h2 Регистрация
    form(ng-submit="register.register()")
      label
        input(type="text" ng-model="register.username" placeholder="Логин" required)
      label
        input(type="password" ng-model="register.password" placeholder="Пароль" required)
      button Зарегистрироваться

  include ./_footer.jade
