extends layout

block vars
  - var title = 'Регистрация'
  - var bodyClass = 'register-page'

block content
  include ./_header.jade
  .wrap(ng-controller="registerCtrl as register")
    h2 Регистрация
    form(ng-submit="register.register()")
      span(ng-bind="register.responseData")

      input(type="text"
        ng-model="register.username"
        placeholder="Логин"
        required)

      input(type="password"
        ng-model="register.password"
        placeholder="Пароль"
        required)

      button Зарегистрироваться

  include ./_footer.jade
